/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Cinzel:400,900|Lato:400,900");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body {
  color: #676867;
  font-family: "Cinzel", serif;
  line-height: 1.6;
  background: #ffffff;
  font-size: .875rem;
  overflow-x: hidden; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 1rem; } }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 55em; }

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 1em; }

h1 {
  color: #111111;
  line-height: 2;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }
  h1 span {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.1em;
    color: #af9d79;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400; }
    @media screen and (min-width: 768px) {
      h1 span {
        font-size: 6rem; } }

h2 {
  font-size: 1.95rem;
  color: #af9d79;
  line-height: 1; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 2.75rem; } }

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #111111;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 1.5rem; } }

img {
  max-width: 100%; }

.hero {
  background-image: url("../../img/hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

h1::before,
h1::after {
  content: '';
  width: 70%;
  height: 2px;
  background: #af9d79;
  display: block; }

h1::before {
  margin: 0 auto 1.5em; }

h1::after {
  margin: 1.5em auto 0; }

.site-nav {
  background: #111111;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 15%;
  z-index: 666;
  transition: transform ease-out 300ms;
  transform: translateX(-100%); }
  @media screen and (min-width: 768px) {
    .site-nav {
      transform: translateX(0);
      right: 0;
      position: absolute;
      background: transparent; } }

.wrapper {
  transition: transform ease-out 300ms; }

.nav-open {
  height: 100vh;
  overflow-y: hidden; }
  .nav-open .site-nav {
    transform: translateX(0); }
  .nav-open .wrapper {
    transform: translateX(85%); }

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  @media screen and (min-width: 768px) {
    .nav-list {
      flex-direction: row;
      justify-content: flex-end;
      height: 5em;
      align-items: center; } }
  .nav-list li {
    text-align: center; }
    @media screen and (min-width: 768px) {
      .nav-list li {
        margin-right: 1em; } }
  .nav-list a {
    text-decoration: none;
    padding: .7em;
    display: inline-block;
    position: relative;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #af9d79;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400; }
    @media screen and (min-width: 768px) {
      .nav-list a {
        font-size: 1.6rem;
        padding: 0; }
        .nav-list a::before {
          content: '';
          display: block;
          height: .063em;
          background: #af9d79;
          position: absolute;
          bottom: -.5em;
          left: 0;
          right: 0;
          transform: scale(0, 1);
          transform-origin: left;
          transition: transform ease-in-out 300ms; }
        .nav-list a:hover::before {
          transform: scale(1, 1); } }

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1em;
  left: .6em;
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none; } }

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #111111;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: ease-in-out 800ms; }

.hamburger::before {
  transform: translateY(-6px); }

.hamburger::after {
  transform: translateY(3px); }

.open .hamburger {
  transform: rotate(45deg); }

.open .hamburger::before {
  opacity: 0; }

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg); }

.skills {
  display: flex;
  color: rgba(255, 255, 255, 0.7); }
  .skills h2 {
    color: #ffffff; }
    .skills h2::after {
      content: '';
      width: 25%;
      height: 2px;
      background: rgba(255, 255, 255, 0.5);
      display: block;
      margin: 1em auto 0; }
  @supports (display: grid) {
    .skills {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 40em) 1fr; } }

.skills-middle {
  background: #111111;
  padding: 2em 3vw;
  text-align: center; }

.skills-left img,
.skills-right img {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%; }

.skills-icons {
  font-size: 1.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #af9d79; }
  .skills-icons img {
    width: 26px;
    height: 26px; }
    @media screen and (min-width: 768px) {
      .skills-icons img {
        width: 44px;
        height: 44px; } }
  @media screen and (min-width: 768px) {
    .skills-icons {
      font-size: 3rem; } }

.learning {
  margin-top: 1em; }

.about {
  padding: 3em 0; }
  .about .container {
    display: grid;
    grid-template-columns: [about-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [pic-end] 2fr [about-end];
    grid-column-gap: .5em; }
  .about .about-img {
    grid-column: about-start / pic-end;
    grid-row: 1 / 2;
    filter: brightness(50%); }
    @media screen and (min-width: 768px) {
      .about .about-img {
        grid-row: 1 / 4; } }
  .about .about-title {
    grid-column: name-start / port-end;
    grid-row: 1 / 2;
    align-self: end;
    margin-bottom: .2em;
    z-index: 222; }
    @media screen and (min-width: 768px) {
      .about .about-title {
        margin-top: .3em; } }
  .about .about-subtitle,
  .about .about-text {
    grid-column: 1 / -1; }
    @media screen and (min-width: 768px) {
      .about .about-subtitle,
      .about .about-text {
        grid-column: pic-end / about-end; } }
  .about .about-subtitle {
    margin: .5em; }
    @media screen and (min-width: 768px) {
      .about .about-subtitle {
        grid-row: 2 / 3; } }
  .about .about-text {
    margin-left: .2em; }
    @media screen and (min-width: 768px) {
      .about .about-text {
        grid-row: 3 / 4; } }

.portfolio {
  text-align: center;
  background: #e6e8e6;
  padding: 5em 0; }

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: .1em; }
  @media screen and (min-width: 768px) {
    .portfolio-items {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5em; } }

.portfolio-item {
  position: relative;
  overflow: hidden;
  margin: 0; }
  .portfolio-item img {
    display: block; }
  .portfolio-item figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
    background: rgba(175, 157, 121, 0.75);
    color: #ffffff;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 290ms; }
  .portfolio-item:hover figcaption,
  .portfolio-item:hover focus {
    top: 0; }

.portfolio-item.featured {
  grid-column: 1 / span 2;
  grid-row: 1 /span 2; }

.portfolio-title {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: auto; }
  .featured .portfolio-title {
    font-size: 3rem; }

.portfolio-desc {
  display: none; }
  .featured .portfolio-desc {
    display: block; }

.portfolio-link {
  color: #ffffff;
  font-weight: 900;
  font-size: 0.8rem;
  text-decoration: none;
  align-self: flex-start; }

.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 1.5em;
  bottom: 1.5em;
  left: 1.5em;
  right: 1.5em;
  background: #ffffff;
  box-shadow: 0 0 0 5em rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  display: none; }
  .portfolio-modal.open {
    display: block; }

.portfolio-header {
  text-align: left;
  padding: 2em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
  background-color: #111111; }

.portfolio-title-box {
  background: rgba(175, 157, 121, 0.75);
  padding: 1.5em 0 1.5em 1.5em;
  color: #ffffff;
  width: 75%; }
  .portfolio-title-box .portfolio-title {
    font-size: 2.5rem;
    margin-bottom: .5em;
    display: inline-block; }

.portfolio-subtitle {
  font-size: 1rem; }

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto; }
  @media screen and (min-width: 768px) {
    .portfolio-content p {
      font-size: 1.5rem; } }
  .portfolio-content h3 {
    font-size: .8rem; }
    @media screen and (min-width: 768px) {
      .portfolio-content h3 {
        font-size: 1.1rem; } }
  .portfolio-content a {
    margin-right: 1em; }
  .portfolio-content i {
    color: #af9d79;
    font-size: 1.5rem; }
    @media screen and (min-width: 768px) {
      .portfolio-content i {
        font-size: 3rem; } }
  .portfolio-content .portfolio-preview {
    width: 70vw;
    max-width: initial;
    margin: 2em auto;
    height: 40vh;
    object-fit: cover; }
    @media screen and (min-width: 768px) {
      .portfolio-content .portfolio-preview {
        display: none;
        width: 85vw;
        height: 44vh; } }
  .portfolio-content iframe {
    display: none; }
    @media screen and (min-width: 768px) {
      .portfolio-content iframe {
        display: block;
        margin-top: 1em;
        width: 100%;
        height: 40vh; } }

.portfolio-techs {
  margin: 1.5em 0 1.5em; }
  .portfolio-techs img {
    display: inline-block;
    width: 22px;
    height: 22px; }
    @media screen and (min-width: 768px) {
      .portfolio-techs img {
        width: 42px;
        height: 42px; } }
  .portfolio-techs i {
    margin-right: .7em; }

.future {
  background-color: #111111; }

.modal-close {
  padding: 1em .6em;
  position: fixed;
  top: .5em;
  left: .5em;
  cursor: pointer;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.close-icon,
.close-icon::after {
  content: '';
  display: block;
  background: #111111;
  height: 3px;
  width: 1.1em;
  border-radius: 3px; }

.close-icon {
  transform: rotate(45deg); }

.close-icon::after {
  transform: rotate(-90deg); }

@keyframes modalFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes modalFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.contact {
  padding: 5em 0; }
  .contact h2 {
    text-align: center; }

form {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    form {
      display: grid;
      grid-column-gap: 1em;
      grid-template-areas: "name   email" "message    message" "   .       button"; }
      form .name {
        grid-area: name; }
      form .email {
        grid-area: email; }
      form .message {
        grid-area: message; }
      form .button {
        grid-area: button; } }

label {
  display: block;
  margin-top: 1em;
  color: #676867; }

input,
textarea {
  display: block;
  padding: .3em;
  box-sizing: border-box;
  width: 100%;
  font-size: 1.1rem; }

textarea {
  min-height: 6.25em; }

.button {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
  display: inline-block;
  width: auto;
  margin-top: 1em;
  margin-left: auto;
  background: #af9d79;
  border: 1px solid #af9d79;
  padding: .8em 1.2em;
  cursor: pointer;
  transition: all .5s ease-in-out; }
  .button:hover {
    background-color: #ffffff;
    color: #af9d79; }

.footer {
  padding: 2em 0;
  background: #111111;
  text-align: center; }
  .footer a {
    color: #676867; }

.icons {
  display: flex;
  justify-content: space-around;
  margin: 1.75em auto 2em; }

.icon {
  font-size: 3rem;
  transition: all .5s ease-in-out; }
  .icon:hover {
    color: #af9d79; }

/*# sourceMappingURL=../dist/css/style.css.map */
